body {
    font-size: 20px;
}

.container {
    background-color: lightslategray;
}

.tall-container {
    background-color: lightslategray;
    height: 225px;
}

.flex-container {
    display: flex;
}

.inlineflex-container {
    display: inline-flex;
}

.box {
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: lightblue;
    border: 5px solid lightslategray;
}

#wrap {
    flex-wrap: wrap;
    width: 50%;
}

#wrap-reverse {
    flex-wrap: wrap-reverse;
    width: 50%;
}

#no-wrap {
    width: 50%;
}

#flex-start {
    justify-content: flex-start;
}

#flex-end {
    justify-content: flex-end;
}

#center {
    justify-content: center;
}

#space-between {
    justify-content: space-between;
}

#space-around {
    justify-content: space-around;
}

#flex-start {
    align-items: flex-start;
    justify-content: center;
}

#flex-end {
    align-items: flex-end;
    justify-content: center;
}

#center {
    align-items: center;
    justify-content: center;
}

#baseline {
    align-items: baseline;
    justify-content: center;
}

#tall-box {
    height: 100px;
}

#stretch {
    align-items: stretch;
    justify-content: center;
}

.auto-height-box {
    height: auto;
    width: 75px;
    text-align: center;
    background-color: lightblue;
    border: 5px solid lightslategray;
}

#flex-start {
    align-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
}

#flex-end {
    align-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
}

#align-center {
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
}

#align-space-between {
    align-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

#align-space-around {
    align-content: space-around;
    flex-wrap: wrap;
    width: 50%;
}

#align-stretch {
    align-content: stretch;
    flex-wrap: wrap;
    width: 50%;
}